#
# Printer Setup
#

# Printer Connection: usb or network
MARKY_TYPE=usb

# USB, get this information by running `lsusb` while your printer is connected. You should see something like this:
# Bus 001 Device 094: ID 04b8:0e20 Seiko Epson Corp. TM-m30-ii
MARKY_VENDOR_ID=0x04b8
MARKY_PRODUCT_ID=0x0e20

# Network, how you get this information depends on which printer you have.
MARKY_IP=192.168.1.100
MARKY_PORT=9100

#
# Configuration Setup
#

# Number of lines to print before truncating output to avoid printing out LOTR.
MARKY_MAX_LINES=30

# Max line width supported by the printer for text-wrapping.
MARKY_LINE_WIDTH=48